@import "../../../assets/style/mixin";

.gray-sub-title {
  height: 38px;
  padding: 0 24px;
  background: #EEE;
  border-top: 1px solid #DBDBDB;
  border-bottom: 1px solid #DBDBDB;
  line-height: 38px;
  font-size: 12px;
  color: #666;
  display: flex;

  span {
    display: inline-block;
    height: 100%;
  }

  .first {
    display: flex;
    justify-content: space-between;
    flex: 1;

    .f-bc {
      > span {
        width: 112px;
        text-align: center;
      }
    }
  }

  .last {
    width: 230px;
    text-align: center;
    display: flex;
    border-left: 1px solid #ccc;

    span {
      flex: 1;
    }
  }
}

.bt {
  border-top: 1px solid #EFEFEF;
}

.date {
  padding-left: 0px;
}

.order-id {
  margin-left: 25px;
}

.cart {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 24px;

  &:hover {
    .del-order {
      display: block;
    }
  }

  .del-order {
    display: none;
  }

  .cart-l {
    display: flex;
    align-items: center;
    flex: 1;
    padding: 15px 0;
    justify-content: space-between;
    position: relative;

    &:before {
      position: absolute;
      content: ' ';
      right: -1px;
      top: 0;
      width: 1px;
      background-color: #EFEFEF;
      height: 100%;
    }

    .ellipsis {
      margin-left: 20px;
      width: 220px;
    }

    .img-box {
      border: 1px solid #EBEBEB;
    }

    img {
      display: block;
      @include wh(80px);
    }

    .cart-l-r {
      display: flex;

      > div {
        text-align: center;
        width: 112px;
      }
    }

    .car-l-l {
      display: flex;
      align-items: center;
    }
  }

  .cart-r {
    width: 230px;
    display: flex;

    span {
      text-align: center;
      flex: 1;
    }
  }
}

.prod-operation {
  height: 110px;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 254px;

  div {
    width: 100%;
    text-align: center;
  }

  div:last-child {
    padding-right: 24px;
  }
}
