<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.xfj.shopping.mapper.ItemMapper">
    <resultMap id="BaseResultMap" type="com.xfj.shopping.entitys.Item">
        <id column="id" jdbcType="VARCHAR" property="id"/>
        <result column="createdate" jdbcType="TIMESTAMP" property="createdate"/>
        <result column="modifydate" jdbcType="TIMESTAMP" property="modifydate"/>
        <result column="operator" jdbcType="VARCHAR" property="operator"/>
        <result column="sass_id" jdbcType="VARCHAR" property="sass_id"/>
        <result column="title" jdbcType="VARCHAR" property="title"/>
        <result column="sell_point" jdbcType="VARCHAR" property="sellPoint"/>
        <result column="price" jdbcType="DECIMAL" property="price"/>
        <result column="num" jdbcType="INTEGER" property="num"/>
        <result column="limit_num" jdbcType="INTEGER" property="limitNum"/>
        <result column="image" jdbcType="VARCHAR" property="image"/>
        <result column="cid" jdbcType="VARCHAR" property="cid"/>
        <result column="status" jdbcType="INTEGER" property="status"/>
    </resultMap>
    <sql id="Base_Column_List">
    id, createdate, modifydate,operator, sass_id, title, sell_point, price, num, limit_num, image, cid, status
  </sql>

    <select id="selectItemFront" resultMap="BaseResultMap">
        SELECT * FROM tb_item WHERE status = 1
        <if test="priceGt != null and priceGt >= 0 and priceLte != null and priceLte >= 0">
            AND price BETWEEN #{priceGt} AND #{priceLte}
        </if>
        <if test="cid != null">
            AND cid = #{cid}
        </if>
        ORDER BY ${orderCol} ${orderDir}
    </select>
</mapper>