<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.xfj.shopping.mapper.PanelMapper">
    <resultMap id="BaseResultMap" type="com.xfj.shopping.entitys.Panel">
        <id column="id" jdbcType="VARCHAR" property="id"/>
        <result column="createdate" jdbcType="TIMESTAMP" property="createdate"/>
        <result column="modifydate" jdbcType="TIMESTAMP" property="modifydate"/>
        <result column="operator" jdbcType="VARCHAR" property="operator"/>
        <result column="sass_id" jdbcType="VARCHAR" property="sass_id"/>
        <result column="name" jdbcType="VARCHAR" property="name"/>
        <result column="type" jdbcType="INTEGER" property="type"/>
        <result column="sort_order" jdbcType="INTEGER" property="sortOrder"/>
        <result column="position" jdbcType="INTEGER" property="position"/>
        <result column="limit_num" jdbcType="INTEGER" property="limitNum"/>
        <result column="status" jdbcType="INTEGER" property="status"/>
        <result column="remark" jdbcType="VARCHAR" property="remark"/>
        <result column="product_id" jdbcType="VARCHAR" property="productId"/>
    </resultMap>
    <sql id="Base_Column_List">
    id, createdate, modifydate,operator, sass_id, name, type, sort_order, position, limit_num, status, remark
  </sql>
    <select id="selectPanelContentById" parameterType="java.lang.Integer" resultMap="BaseResultMap">
    select a.*,b.product_id
from tb_panel a inner join tb_panel_content b on a.id=b.panel_id where a.id=#{panelId} and status=1
  </select>
</mapper>