.content {
  padding: 150px 0;
  font-size: 30px;
}

.icon-success {
  font-size: 33px;
  color: #01b401;
}

span.price {
  color: #d44d44;
  font-weight: 700;
  line-height: 20px;
  text-align: right;
}
