.w {
  padding-top: 39px;
}

.order-info {
  padding: 60px 0 55px;
  color: #333;
  background: #fff !important;

  h3 {
    padding-bottom: 14px;
    line-height: 36px;
    text-align: center;
    font-size: 36px;
    color: #212121;
  }

  .payment-detail {
    text-align: center;
    line-height: 24px;
    font-size: 14px;
    color: #999;
  }
}

.box-inner {
  line-height: 60px;
  background: #f9f9f9;
  border-top: 1px solid #e5e5e5;
  box-sizing: border-box;
  margin-bottom: 10px;

  > div {
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    align-items: center;
    padding: 0 20px;
  }

  em {
    margin-left: 5px;
    font-size: 24px;
    color: #d44d44;
    font-weight: 700;
    margin-right: 20px;

    span {
      margin-right: 4px;
      font-size: 16px;
    }
  }
}

.box-btn {
  line-height: 60px;
  background: #f9f9f9;
  border-top: 1px solid #e5e5e5;
  box-sizing: border-box;

  > div {
    display: flex;
    justify-content: flex-end;
    align-items: center;
    padding: 0 20px;
  }

  em {
    margin-left: 5px;
    font-size: 24px;
    color: #d44d44;
    font-weight: 700;
    margin-right: 20px;

    span {
      margin-right: 4px;
      font-size: 16px;
    }
  }
}

.payment-money {
  text-align: center;
  font-size: 30px;
  color: #d44d44;
  font-weight: 700;
}

.img-box {
  position: relative;
  width: 180px;
  height: auto;
  min-height: 168px;
  margin: 0 auto;
  padding: 6px;
  border: 1px solid #d3d3d3;
  box-shadow: 1px 1px 1px #ccc;
  display: inline-block;
}

.explain {
  margin: 5px 0 12px 0;
}

.pic {
  margin-top: 3px;
}

.wechat {
  margin: 0 auto;
  display: flex;
  margin-top: -40px;
  width: 220px;
}

.fn-left {
  margin-left: -5px;
}

.fn-right {
  font-size: 13px;
  color: #4D4D4D;
  line-height: 18px;
  margin: -65px 0 0 40px;
}

.count {
  display: flex;
  position: absolute;
  text-align: center;
  width: 230px;
  flex-direction: column;
  align-items: center;
  margin-left: calc(50% - 115px);
  margin-top: 0px;
  color: #222;
  margin-top: 0px;
}

.timeout {
  position: absolute;
  top: 0;
  right: 0;
  left: 0;
  bottom: 0;
  background: rgba(255, 255, 255, .95);
  color: #222;
  line-height: 200px;
  text-align: center;
  z-index: 1;
}
